<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title></title>
	{% load static%}
	<!--<link rel="stylesheet" type="text/css" href="{%static 'semantic/dist/semantic.css' %}">-->
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.0/semantic.js"></script>
</head>
<body>
	<div class="ui centered container">
		<!--<div class="ui segment">-->
			<!--<form class="ui form" action="insert"  method="post">-->
				<!--{% csrf_token %}-->
				<!--<div class="five fields">-->

                    <!--<div class="field">-->
                       <!--<label>{{form.us_name.label}}:</label>-->
                        <!--{{form.us_name}}-->
					<!--</div>-->

					<!--<div class="field">-->
                        <!--<label>{{form.us_surname.label}}:</label>-->
                        <!--{{form.us_surname}}-->
					<!--</div>-->

					<!--<div class="field">-->
                        <!--<label>{{form.us_role.label}}:</label>-->
                        <!--{{form.us_role}}-->
					<!--</div>-->

                    <!--<div class="field">-->
                        <!--<label>{{form.us_id.label}}:</label>-->
                        <!--{{form.us_id}}-->
                    <!--</div>-->

					<!--<div class="field">-->
						<!--<input class= "ui button" name="form" type="submit" value="Submit">-->
					<!--</div>-->
                <!--</div>-->
			<!--</form>-->
		<!--</div>-->

        <div class="ui raised blue segment" style="overflow: hidden">
            <h2 class="ui center aligned icon header"><i class="industry icon"></i> COMPANIES:</h2>
            <div class="ui four cards">
                {% for c in companies %}
                    <div class="card">
                        <div class="content">
                            <div class="header"> {{c.company_name}}</div>
                            <div class="description"> {{c.company_country}}</div>
                        </div>
                        <div class="extra content">
                          <div class="ui vertical fluid buttons">
                                <form method="get" action="company_schedule">
                                    <button class="ui button" type="submit" value="{{c.id}}" name="company_id">ABOUT</button>
                                </form>
                                <form method="get" action="delete_company">
                                    <button class="ui basic red button" type="submit" value="{{c.id}}" name="company_for_delete">DELETE</button>
                                </form>
                          </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="ui divider"></div>
            <div class="three ui buttons">
                <form action="previous_company" method="post">
                    {% csrf_token%}
                    <div hidden> {{previous_company_form}} </div>
                    <button type="submit" value="Previous" name="Previous" class="ui left floated button"><i class="arrow left icon"></i> PREVIOUS</button>
                </form>
                <button class="ui centered button"><i class="add square icon"></i> ADD NEW COMPANY </button>
                <form action="next_company" method="post">
                    {% csrf_token%}
                    <div hidden> {{next_company_form}} </div>
                    <button type="submit" value="Next" name="Next" class="ui right floated button">NEXT <i class="arrow right icon"></i></button>
                </form>
            </button>
        </div>
	</div>
<script type="text/javascript">


</script>
</body>


</html>
